.NavigationBar {
    margin: 10px;
    padding: 0px;
    color: black;
    display: flex;
    /* border-color: grey;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px; */
}

.NavigationBar nav {
    margin: 0px 3px;
    padding: 0px;
    display: flex;
    width: 10%;
    border-color: grey;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
}

.SourceDiv {
    margin: 10px;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monaco;
    text-align: left;
    width: 100%;
    font-size: 9pt;
    height: 100%;

    padding: 10px;
    margin: 10px;
    border-color: grey;
    border-width: 3px;
    width: 953px;
    border-style: solid;
    border-radius: 15px;
}