.Toolbar {
    height: 56px;
    color: cyan;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, black , lightgray);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90px;
}

.Toolbar nav {
    height: 100%;
}

