.RequestReportForm {
    margin: auto;
    width: 600px;
    padding: 10px 50px;
    border: 0px #ccc solid;
    background-color: white;
    
}

.RequestReportFormButton {
    float: right;
    width: fit-content;
    margin-right: -10px;
    padding:10px 50px;
    border-width: 1px;
    color: rgb(36, 216, 48);
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco;
    background-color: black;
}